html, body {width: auto!important; overflow-x: hidden!important} 
body {
  font-size: 16px;
  color: #312d2d;
  font-family: 'Roboto', sans-serif;
  
}
.content-section ul{
  list-style: none;
}
#blur-filter{
  position: fixed;
  backdrop-filter: blur(50px);
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  opacity: 0.5;
  
}
.about h1{
  height: 250px;
  display: flex;
  align-items:flex-end;
  font-weight: 600;
  word-spacing: 0.25em;
  margin-bottom: 2rem;

}
#darken-filter{
  position: fixed;
  background-color: #2F323A;
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  opacity: 0.8; 
}
#fileUpload-form{
  position: fixed;
  padding: 50px;
  padding-bottom: 40px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  background-color: white;
  z-index: 999;
}
#fileUpload-form label{
  margin-right: 10px;
  font-weight: 700;
}
#fileUpload-form input[name='sender']{
  width: 60%;
  padding-left: 5px;
  border-width: 2px;
  border-radius:4px;
  border-color: #2F323A;
}
#supplyOrder-section .close-button{
  display: flex;
  position: absolute;
  right:0px;
  top:0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  transform: translate(50%,-50%);
  border-radius: 50%;
  border-width: 2px;

}

.uploadForm-dissapear{
  display: none;
}
.uploadForm-appear{
  display: block;
}

#warranty-section{
  margin-bottom: 3rem;
}

#wholeSale-section ul{
  border-style: solid;
  border-width: 0px 0px 0px 7px;
  padding-left: 1rem;
  border-color: #72D6BF;
  font-size: 1.5rem;
}

.services-nav{
  position: relative;
  min-height: 200px;
}
.services-nav-item{
  color: #2B2B2B;
  position: relative;
}
.services-nav-item:hover{
  color: #2B2B2B;
}
.services-nav-item:hover::after{
  width: 100%;
}
.services-nav-item::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0%;
  height:2px;
  border-radius: 100px;
  background-color: #2B2B2B;
  transition: 150ms ease-in;

 
}

.services-nav .navbar-header{
  width: 100%;
}
#delivery-section{
  flex-direction: row-reverse;
}
.services-graphic{
  flex-direction: column;
  width: 50%;
}
#wholeSale-section div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-sections p{
  display: flex;
  align-items: center;
}
#supplyOrder-section .services-graphic{
  width: 30%;
}
.services-graphic h2{
  font-size: 2.4em;
  
 
}
#delivery-section h2{
  position: absolute;
  top:18%;
  left:43%;
}
.wr-sections{
  margin-right: 5%;
}
#wholeSale-section .services-graphic{
  width: 55%;
}
#wholeSale-content{
  width: 50%;
  justify-content: center;
  align-items: center;
}
.services-nav .nav{
  display: flex;
  justify-content:center;
}
.services-nav .nav-item{
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 1.2em;
  margin-right: 1.2em;
}
.services-nav h1{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  word-spacing: 0.25em;
}
.hidemap{
  width: 0;
  height: 0;
}
.showmap{
  width: 70vw;
  height: 600px;
}

.carousel-control-prev{
  width: 40%;
}
strong{
  font-weight: 900;
}
.carousel-control-next{
  width: 40%;
}
.carousel-control-prev-icon{
  position: absolute;
  left: 13%;
}
.carousel-control-next-icon{
  position: absolute;
  right: 13%;
}
.load-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color: #2B2B2B;
  letter-spacing: 1em;
}
#loading {
  position:relative;
  height:300px;  
  animation:body-run 1.5s ease-out infinite;
  z-index:1;
  
}
#plumbing-section p{
  color: white;
}
.fade-in{
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.about-text .fade-in{
  transition: opacity 300ms ease-in;
  transition-delay: 200ms;

}
.tile-container p.fade-in{
  transition: opacity 400ms ease-in;


}
.about-text ul{
  display: inline-block;
  border-style:dashed;
  border-width:1.5px;
  border-color:#72D6BF;
  border-radius:10px;
  width: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
  transition-delay:600ms ;
}
.nav-tile.fade-in{
  transition: opacity 400ms ease-in;
}

.home-sections .fade-in{
  
  transition: opacity 400ms ease-in;
  transition-delay: 100ms;
}
.fade-in.appear{
  opacity: 1;
}


.home-graphic img{
  width: 100%;
  height: 100%;
}

.services-graphic img{
  width: 100%;
  height: 100%;

}

.home-graphic,.services-graphic{
  position: relative;  
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1%;
}
.home-graphic div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: 250ms ease-in;
  border-top: dotted 1px white;
  border-bottom: dotted 1px white;
}
.home-graphic div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transition: 250ms ease-in;
  border-left: dotted 1px white;
  border-right: dotted 1px white;
}
.home-graphic div{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  transition: 250ms ease-in;
  margin: 0;
  z-index: 9;
  width: 80%;
  height: 80%;
 
}
.home-graphic div img{
  width:50%;
  height: auto;
  opacity: 0.7;
}
.home-graphic:hover div{
  opacity: 1;
}

.home-graphic div{
  opacity: 0;
}
.home-graphic h2{
  position: absolute;
  transform: scale(0);
  color: white;
  z-index: 9;
  transition: 250ms ease-in;
  font-size: 1em;

}
.home-graphic:hover h2{
  transform: scale(1);
}
.home-graphic:hover div::before{
  transform: scaleX(1.1);
}
.home-graphic:hover div::after{
  transform: scaleY(1.1);
}
.home-graphic::after{
  content: "";
  font-size: 1em;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2F323A;
  opacity: 0;
  top:0;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  left: 0;
  transition:  200ms ease-in;
}
.home-graphic:hover::after{
  opacity: 0.4;  

}

.from-left.appear,.from-right.appear{
  opacity: 1;
  transform:translateX(0) ;
}
/* padding-land r for all */
.intro,.home-tiles ,.home-tiles-2,.content-section,.about{
  padding-left: 6vw;
  padding-right: 6vw;
}
/* graphic sections home start*/
.content-section,#w-and-r-section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 19vh;
  margin-bottom: 40vh;

}
.about p{
  font-size: 1.4rem;
}
.about iframe{
  margin-top: 50px;
  margin-bottom: 60px;
  width: 100%;
  height: 70vh;
  border: #F5C396 dashed;
  border-width: 2px;
}
#paints-section p,#tools-section p{
  margin-right: 50px;
}
#pipes-section p,#plumbing-section p,#supplyOrder-section p{
  position: relative;
  margin-left: 50px;
}
.content-section p{
  padding-top: 20px;
  width: 30vw;
  font-size: 1.3em;
}
.home-graphic{
  width: 25vw;
}
#pipes-section .home-graphic{
  width: 15vw;
}
#plumbing-section .home-graphic{
  width: 40vw;
}

#paints-section,#tools-section{

 

  flex-direction: row-reverse;
}


/*graphic sections end*/
.shadow{
  display: block;
  position:relative;
  border-radius:50%;
  bottom: 45px;
  width:80px;
  height:10px;
  background-color:grey;
  animation:shadow 1.5s ease-out infinite;
} 




@keyframes body-run{
  0%,100%{
    transform:translateY(0%);
  }
 50%{
    
    transform:translateY(10%);  
  }  
}
@keyframes shadow{
  0%,100%{
    transform:scale(1);
  }
 50%{
    
    transform:scale(0.4);  
  }  
}
a{
  text-decoration: none;
}
header{
  position: relative;
}
#header-nav{
  background-color:#2F323A;
  color:white; 
  position: fixed;
  width: 100vw;
  height: 74px;
  z-index: 999;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: all 300ms ease-in-out;
}
.navbar-appear{
  top: 0;
}
.navbar-dissappear{
  top:-75px;
}

.comming-soon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  color: #2B2B2B;

}
#main-content{
  padding: 0;
  color: #2B2B2B;
}
#logo-img{
  background: url('../img/logo.svg') no-repeat;
  width: 45px;
  height: 45px;
  background-size: 45px 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#location-img{
  width: 100%;
  height: inherit;
  background: url('../img/slide-1.webp') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #777;  
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#shop-img{
  width: 100%;
  height: inherit;
  background: url('../img/slide-2.webp') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #777;  
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#plumbing-section{
  background-color: #2F323A;
  padding-top: 100px;
  padding-bottom: 50px;
}

#shop_in-img{
  width: 100%;
  height: inherit;
  background: url('../img/slide-3.webp') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #777;  
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.navbar-header{
  position: relative;
  width:fit-content;
  left: 2%;
}
.facebook-and-instagram{
  justify-content: end;
  padding-right: 0;
}
.navbar-brand{ 
  color: white;
  position: relative;
  vertical-align: middle;
  left: 10%;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 900;
}
.navbar-brand:hover ,.navbar-brand:focus{
  color: white;

}


.nav-link{
  color: #fff;
  vertical-align: middle;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 0.75em;
  text-align: center;
  
}
.nav-icon{
  fill: #fff;
  height: 45px;
  margin: auto;
  margin-bottom: 0.3em;
  transition: scale 150ms ease-in,
              color 200ms ease-in;
}
.nav-link:active .nav-icon{
  fill: #72D6BF;
  transform:scale(1.1) ;
}
.nav-link:active{
  transform:scale(1.1) ;
}
.nav-link:hover,.nav-link:focus{
  color: #72D6BF;
}
.nav-link:hover svg,.nav-link:focus svg{
  fill: #72D6BF;
}
.nav-link:focus #products-icon .cls-2 ,.nav-link:active #products-icon svg{
  fill: #72D6BF;
}


#products-icon .cls-2{
  fill: #999;
}
.nav-link{
  padding-bottom: 0;
  padding-top: 0;
}
#header-nav .container-fluid{
  flex-wrap: nowrap;
}
.carousel-item{
  height: 92vh;
  background:#777;
  position: relative; 
  background-position: center;
  background-size: cover;       
}
.active-nav{
  color: #72D6BF;
}
.intro{
  padding-top: 100px;
  background-color: #2F323A;
  padding-bottom: 100px;
  color: #F5C396;

}
.vr{
  margin:0 auto;
  color: #ffffff;
  padding: 3px;
  border-radius: 10px;

}
.about-text{
  padding: 0;
}
.about-text h1{
  font-weight: 550;
}
.about-text  p,.about-text ul{
  font-style: oblique;
  font-weight: 300;
}
.about-text div.fade-in{
  padding-left: 8%;
}
.home-tiles-2{
  position: relative;
  padding-top: 200px;
  padding-bottom: 0px;
  padding-bottom: 200px;
  background-color: #9395D3;
}

.open-hours{
  width: 387px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

}
.home-tiles{
  position: relative;
  padding-top: 30vh;
  padding-bottom:30vh;
}
.home-tiles::before{
  content: "";
  position: absolute;
  left:50%;
  top: 50%;
  width: 100vw;
  height: 60%;
  background-color: #72D6BF;
  transform: translate(-50%,-50%) skewY(6deg);;
}
.tile-container{
  position:relative;
  margin-bottom: 10vh;
}
.home-content{
  height: 1000px;
}
.home-tiles p,.home-tiles-2 p{
  position: relative;
  margin: auto;

  margin-top: 1em;
  font-size: 1.05em;
  text-align: center;  
}
.content-section{
  margin-top: 15vh;
}
.open-hours > h1{
  font-size: 3.4em;
  font-weight: 400;
}
.open-hours > h2{
  position: relative;
  bottom: 1.2em;
  left: 0.3em;
  font-size: 1.6em;
  font-weight: 400;
}
.home-tiles-2 .nav-tile{
  width: 19vw;
  height: 19vw;
  color: #2F323A;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;

}

/* 9 and 8 in open hrs*/
.open-hours span:nth-child(3){
  text-align: end;
  font-size: 2.5em;
  bottom: 20px;
}
/* am and pm elements*/
.open-hours span:nth-child(3) span{
  font-size: 0.6em;

}
.open-hours span:nth-child(4){
  color: white;
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}
.slide-item{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 43%;  
}


.nav-tile{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  padding: 10%;
  width: 17vw;
  height: 17vw;
  margin: auto;
  margin-top: 40px; 
  text-align: center;
  font-size: 1.3vw;
  font-weight: 900;
  color:#2F323A;
  background-color: white;
  box-shadow: 3px 5px 10px rgba(0,0,0,0.2);
  z-index: 1;

}


.anim-explode{
  position: absolute;
	width: 110%;
	height: 120%;
  left:50%;
  top:50%;
  transform: translate(-50%,-55%);
  z-index: 0;

}

.nav-tile:hover,.nav-tile:focus{
  box-shadow: 0px 0px 9px rgba(0,0,0,0.4);
  color: #2F323A;
}
.home-tiles-2 .nav-tile:hover,.home-tiles-2 .nav-tile:focus{
  color:#2F323A;
}

.home-tiles-2 .nav-tile::after{
  content: "";
  width: 450%;
  height: 450%;
  position: absolute;
  top:110%;
  left:50%;
  transform: translateX(-50%);
  border-radius: 45%;
  background-color:#F5C396;
  transition: top 400ms ease-in;

}
.home-tiles-2 .nav-tile::before{
  content: "";
  width: 450%;
  height: 450%;
  position: absolute;
  top:110%;
  left:50%;

  transform: translateX(-50%);
  border-radius: 43%;
  background-color:#fae3cf;
  transition: top 400ms linear;

}


.home-tiles-2 .nav-tile:hover::after{
  animation: spin 7s linear infinite;
  top: 55%
}
.home-tiles-2 .nav-tile:focus::after{
  top: -100%;
}
.home-tiles-2 .nav-tile:hover::before{
  animation: spin 11s linear infinite;
  top: 55%
}
.home-tiles-2 .nav-tile:focus::before{
  top:-100%;
}
@keyframes spin{
  0%{
    transform:translate(-50%) rotate(0deg);
  }
  100%{
    transform:translate(-50%) rotate(400deg);
  }
}

.nav-tile > span{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform:translateX(-50%);
  margin-bottom: 1.3em;

  

}

.home-tiles-2 span{
  z-index: 1;
  
}
.home-tiles-2 .tile-icon{
  fill: #2F323A;
  z-index: 1;
}
.tile-icon{
  fill: #2F323A;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}
.panel-footer{
  height: 400px;
  padding-top: 80px;
  background-color: #2F323A;
}

.social-icon{
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
  margin: top 10px;
  transition:transform 150ms ease-in;
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.social-icon .cls-1{
  fill:#fff;
  transition: fill 120ms ease-in;
}
.social-icon .cls-2{
  fill:#2F323A;
  transition: fill 120ms ease-out;
}
.social-icon:hover .cls-1{
  fill: #444;
}
.social-icon:hover{
  transform: scale(0.95);
}
.social-icon:hover .cls-2{
  fill: #3ca78e;
}
.home-tiles-2 .tile-icon{
  width: 68%;
}
.wr-sections p{
  width: 35vw;
}
.services-sections h2{
  font-weight: 600;
}
#supplyOrder-section p{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#supplyOrder-section button,.close-button,#supplyOrder-section input[type="submit"]{
  margin-top: 2rem;
  background-color: white;
  border-radius: 50px;
  padding: 0.5rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-color: #72D6BF;
  transition: 100ms ease-in;
  border-style: solid;
}
#supplyOrder-section button:hover,.close-button:hover,#supplyOrder-section input[type="submit"]:hover{
  background-color: #2F323A;
  color: white;
  border-color: #F5C396;
}

/********** xl only **********/
@media (min-width: 1200px) {
  .from-left{
    transform:translateX(-50%);
  
  }
  .from-right{
    
    transform:translateX(50%);
  }
  .slide-in{
    transition: opacity 600ms ease-in, transform 500ms ease-in, width 150ms ease-in, heigth 150ms ease-in;
    opacity: 0;
  }

  .nav-tile{
    width:13vw ;
    height: 13vw;
  }
  .nav-tile > span{
    font-size: 0.7em;
  }
  .home-tiles-2 .nav-tile {
    width: 14vw;
    height: 14vw;
  }
  .home-tiles-2 .nav-tile > span{
    font-size: 0.9vw;
    margin-bottom: 1.6em;
  }
  .nav-link{
    font-size: 0.8em;
  }
  .nav-icon{
    height: 2.5em;
  }

}

/********** lg only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .from-left{
    transform:translateX(-50%);
  
  }
  .from-right{
    
    transform:translateX(50%);
  }
  .slide-in{
    transition: opacity 600ms ease-in, transform 500ms ease-in, width 150ms ease-in, heigth 150ms ease-in;
    opacity: 0;
  }
  /* Header */
  .content-section p{
    width: 35vw;
  }
 
  .navbar-brand{
    left: 5%;
  }
  .navbar-brand{
    left: 5%;
    font-size: 1.1em;
  }

  .home-tiles-2 .nav-tile > span{
    font-size: 1.15vw;
    margin-bottom: 1.6em;
  }
  .home-graphic{
    width: 35vw;
  }
  .nav-link{
    font-size: 0.9em;
  }
  .open-hours{
    width: 30vw;
  }
  /* End Header */
}

/********** md devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .from-left{
    transform:translateX(-50%);
  
  }
  .from-right{
    
    transform:translateX(50%);
  }f
  .slide-in{
    transition: opacity 600ms ease-in, transform 500ms ease-in, width 150ms ease-in, heigth 150ms ease-in;
    opacity: 0;
  }
 
  .content-section p{
    font-size: 1.1em;
  }
  .services-sections h2{
    font-size: 2em;
  }
  #delivery-section h2{
    top:15%
  }
  #supplyOrder-section .services-graphic{
    width: 45%;
    margin-right: 5%;
  }
  .content-section p{
    width: 35vw;
  }
  #pipes-section p{
    width: 50vw;
  }
  #pipes-section .home-graphic{
    width: 20vw;
  }
  .home-graphic{
    width: 35vw;
  }
  .home-tiles::before{
    height: 65%;
    transform: translate(-50%,-50%) skewY(10deg);;
}

  .nav-tile{
    margin: auto;
    width: 29vw;
    height: 23vw;
    border-radius: 20em;
  }
  #content-section{
    margin-top:40px;
  }
  .nav-tile > span{
    font-size: 1.1em;
    margin-bottom: 1em;

  }
  .carousel-item{
    height: 55vh;
  }
  
  .home-tiles-2{
    padding-top: 200px;
    padding-bottom: 100px
  }
  .home-tiles-2 .nav-tile > span{
    font-size: 1.4vw;
    margin-bottom: 1.6em;
  }
  .about-text{
    margin-top: 10px;
  }
  .intro{
    padding-top: 50px;
  }
  .open-hours{
    width: 100%;
  }
  .open-hours span:nth-child(4){

    font-size: 1.3em;

    text-align: end;

  }
  .open-hours span:nth-child(3){
    text-align: center;
  }

  /** brand disapear make icons and links extemd to end**/
  #nav_collapsible{
    width:100%;
    padding-left: 50px;
    
  }

  #nav-list{
    justify-content: space-between;
  }
  

  #cart-icon{
    height: 45px;
  }
  #logo-img{
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
  .navbar-dissappear{
    top:-90px;
  }
  .wr-sections p{
    width: auto;
  }
}


/********** sm  devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
  .services-graphic{
    width: 75%;
  }
  #supplyOrder-section .services-graphic{
    width: 55%;
  }
  #wholeSale-section .services-graphic{
    width: 70%;
  }
  .services-nav h1{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height: auto;
    text-align: center;
    bottom:0;
    
  }
  #delivery-section h2{
    position: relative;
    top: auto;
    left: auto;
  }
  .services-graphic,  #wholeSale-section .services-graphic{
    flex-direction: column-reverse;
  }
  #wholeSale-content{
    width: 100%;
  }
  .services-graphic h2 {
    font-size: 1.7em;
  }
  .sm-fade-in{
    opacity: 0;
    transition: opacity 600ms ease-in;
  }
  .content-section p{
    font-size: 1.2em;
  }
  #logo-img{
    width: 55px;
    height: 55px;
    background-size: 55px 55px;
  }
  .navbar-dissappear{
    top:-80px;
  }
 
  .carousel-item{
    height: 50vw;
  }
 

  .home-tiles-2 .nav-tile{
    height:auto ;
  
  }
  
  .home-tiles{
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .home-tiles-2{
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .home-tiles-2 .nav-tile > span{
    font-size: 2.8vw;
    margin-bottom: 1.6em;
  }

  .nav-tile{
    margin: auto;
    width: 46vw;
    height: 34vw;
    border-radius: 20em;
  }

  .home-tiles-2 .nav-tile{
    width: 34vw;
    height: 34vw;
  }
  .nav-tile > span{
    font-size: 2.8vw;
    margin-bottom: 0.7em;
  }



  .about-text{
    margin-top: 20px;
  }
  .intro{
    padding-top: 35px
  }
  .open-hours{
    width: 100%;
  }
  .open-hours > h1{
    font-size: 3em;
  }
  .open-hours span:nth-child(4){

    font-size: 1.3em;

    text-align: end;

  }
  .open-hours span:nth-child(3){
    text-align: center;
  }
  /* Header */

  #nav_collapsible{
    width:100%;
    padding-left: 6%;
    
  }
  #nav-list{
    justify-content: space-between;
  }
  #cart-icon{
    height: 45px;
  }
  .nav-link{
    font-size:0.6em ;
  }
  .open-hours{
    margin: 0;
  }
  .home-tiles::before{
    height: 85%;
    transform: translate(-50%,-50%) skewY(15deg);;
  }
  .home-graphic{
    width: 30vw;
    height: auto;
  }
  .content-section p{
    width: 100%;
  }
  #pipes-section p{
    width: 100%;
  }
  #pipes-section .home-graphic{
    width: 20vw;
  }
  #plumbing-section p{
    margin-left: 0;
    width: 100%;
  }
  #paints-section p,#tools-section p{
    margin-right: 0px;
  }
  .content-section{
    justify-content: center;
    align-items: center;
  }
}
  /* xs device End Header */
@media (max-width: 575px) {
  .services-graphic{
    width: 75%;
  }
  #supplyOrder-section .services-graphic{
    width: 75%;
  }
  #wholeSale-section .services-graphic{
    width: 80%;
  }
  .services-nav h1{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    height: auto;
    bottom:0;
    font-size: 1.4em;
    
  }
  #delivery-section h2{
    position: relative;
    top: auto;
    left: auto;
  }
  .services-graphic,  #wholeSale-section .services-graphic{
    flex-direction: column-reverse;
  }
  #wholeSale-content{
    width: 100%;
  }
  .services-graphic h2 {
    font-size: 1.7em;
  }
  .sm-fade-in{
    opacity: 0;
    transition: opacity 600ms ease-in;
  }
  #paints-section p,#tools-section p{
    margin-right: 0px;
  }
  .content-section p{
    font-size: 1em;
    margin: 0;
  }

  .intro,.home-tiles ,.home-tiles-2,.content-section{
    padding-left: 9vw;
    padding-right: 9vw;
  }
  #pipes-section .home-graphic{
    width: 28vw;
  }
  #pipes-section p,#plumbing-section p{
    margin-left: 0;
  }
  .home-graphic{
    width: 50vw;
  }
  .content-section p{
    width: 100%;
  }
  .home-tiles::before{
    height: 85%;
    transform: translate(-50%,-50%) skewY(15deg);;
  }
  
  .carousel-item{
    height: 50vh;
  }
  #loading {
    height:200px;  
    animation:body-run 1.5s ease-out infinite;
    z-index:1;
    
  }
  
.shadow{

  bottom: 30px;
  width:60px;
  height:6px;

} 

  .loading-container h2{
    font-size: 1.1em;
  }
  .home-tiles p,.home-tiles-2 p{
    margin-top: 0.8em;
    font-size: 0.8em;
    height: auto;
  }
  .home-tiles{
    padding-top: 100px;
    padding-bottom:80px ;
  }
  .home-tiles-2 .nav-tile{
    width: 42vw;
    height: 42vw;
  
  }
  .home-tiles-2{
    padding-top: 80px;
    padding-bottom:80px ;
  }
  .home-tiles-2 p{
    height: auto;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .home-tiles-2 .nav-tile > span{
    font-size: 3vw;
    margin-bottom: 1.6em;
  }

 
  .nav-tile{
    margin: auto;
    width: 46vw;
    height: 34vw;
    border-radius: 20em;
  }
  .about-text{
    margin-top: 20px;
  }
  .intro{
    padding-top: 90px
  }
  .open-hours > h1{
    font-size: 2em;
  }
  .open-hours > h2{
    font-size: 1.2em;
  }
  .open-hours{
    width: 100%;
  }
  .open-hours span:nth-child(4){

    font-size: 1em;

    text-align: end;

  }
  .open-hours span:nth-child(3){
    text-align: center;
    font-size: 1.4em;
  }

  #logo-img{

    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
 
  #header-nav .container-fluid{
    padding-left: 5px;
    padding-right: 5px;
  }
  #nav_collapsible{
    width:100%;
    padding-left : 5%;
  }
  #nav-list{
    justify-content: space-between;
    
  }
  #cart-icon{
    height: 30px;
  }
  
  .nav-link{
    font-size:0.4em ;
    padding-left:5px;
    padding-right: 5px;
  }
  .nav-icon{
    height: 30px;
  }
  
  .facebook-and-instagram{
    justify-content: center;
  }
  .twitter-and-whatsapp{
    justify-content: center;
    padding: 0;
  }
  .social-icon{
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px
  }
  .tile-icon{
    height: 60%;
  }
  .nav-tile > span{
    font-size: 3vw;
    margin-bottom: 0.7em;
  }
  .content-section{
    justify-content: center;
    align-items: center;
  }
}
/* for new galaxy fold  phones */
@media (max-width: 320px){
  #logo-img{
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
  }
  .nav-icon{
    height:25px;
  }
  #cart-icon{
    height: 25px;
  }
}